nav {
	margin-bottom: 50px;
}

h5 {
	display: inline-block;
	line-height: 1.7em;
	color: white;
}

.form-group {
	display: inline-block;
	vertical-align: top;
}

.radio {
	margin-top: 0 !important;
}

#or {
	display: inline-block;
	margin-top: 80px;
	color: red;
}

.modalCheck {
	margin-right: 15px;
}

.Giddy {
	background-color: rgba(244, 226, 66, 0.7);
}

.Sappy {
	background-color: rgba(244, 65, 104, 0.7);
}

.Intense {
	background-color: rgba(175, 15, 15, 0.9);
}

.Sad {
	background-color: rgba(37, 88, 142, 0.7);
}

.Cranky {
	background-color: rgb(99, 94, 94);
}

.Mellow {
	background-color: rgb(122, 170, 44);
}