<br>
<br>
<br>
<div class="container container--auth">
  <div class="col-xs-2 col-xs-offset-5 text-center">
    <section class="auth-form">
      <h4>Login/Register with Email</h4>
      <div>
        <input class="form-control" type="email" autofocus="true" ng-model="account.email">
      </div>
      <div>
        <input class="form-control" type="password" ng-model="account.password">
      </div>
      <br>
      <div>
        <button class="btn btn-info" ng-click="login()">Login</button>
        <button ng-click="register()" class="btn btn-default">Register</button>
      </div>
    </section>
    <hr>
    <section>
      <h4>Or</h4>
      <button class="btn btn-danger" ng-click="loginGoogle()">Google</button>
    </section>
  </div>
</div>