<br>
<div class="container">
	<form id="currentMood">
		<h3>What Kinda Mood Are You In {{userObj.name}}?</h3>
		<p>*Leave any/everything blank if you want 😊</p>

		<div class="form-group">
			<h4>Pick an 'appy'</h4>
			<div class="radio">
				<label><input type="radio" name="appy" value="happy">Happy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="crappy">Crappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="sappy">Sappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="fappy">Fappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="nappy">Nappy</label>
			</div>
		</div>

		<div class="form-group">
			<h4>How You Feelin?</h4>
			<div class="radio">
				<label><input type="radio" name="moji" value="ded">&#9760;</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="smiley">😁</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="cheeky">😏</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="devily">😈</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="fucky">😑</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="nerdy">🤓</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="nerdy">😝</label>
			</div>
		</div>

		<div class="form-group">
			<h4>How You Wanna Feel?</h4>
			<div class="radio">
				<label><input type="radio" name="moji" value="wowed">😲</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="wondering">🤔</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="warm">🤗</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="lovey">😍</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="devily">😈</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="sad">😢</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="sad">😢</label>
			</div>
		</div>

		<div class="form-group">
			<h4>I Kinda Wanna See Some...</h4>
			<div class="radio">
				<label><input type="checkbox" name="wanna" value="cowboy">🤠</label>
			</div>
			<div class="radio">
				<label><input type="checkbox" name="wanna" value="alien">👽</label>
			</div>
			<div class="radio">
				<label><input type="checkbox" name="wanna" value="punch">👊</label>
			</div>
		</div>

		<div class="form-group">
			<h4>Animated?</h4>
			<div class="radio">
				<label><input type="radio" name="toons" value="yes">Yes</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="toons" value="no">No</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="toons" value="shrug">Don't Care</label>
			</div>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label><input type="checkbox" name="toons" value="yes"><strong>Family-Friendly</strong></label>
			</div>
		</div>
	</form>
	<button class="btn" ng-click="getRecs()">View Recs</button>
</div>