<br>
<div class="container">
	<form id="currentMood">
		<h3>What Mood Are You In {{userObj.name}}?</h3>

		<div class="form-group">
			<h4>Pick an 'appy'</h4>
			<div class="radio">
				<label><input type="radio" name="appy" value="happy">Happy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="crappy">Crappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="sappy">Sappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="fappy">Fappy</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="appy" value="nappy">Nappy</label>
			</div>
		</div>

		<div class="form-group">
			<h4>How You Feelin?</h4>
			<div class="radio">
				<label><input type="radio" name="moji" value="ded">&#9760;</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="smiley">😁</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="cheeky">😏</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="devily">😈</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="fucky">😑</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="nerdy">🤓</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="nerdy">😝</label>
			</div>
		</div>

		<div class="form-group">
			<h4>How You Wanna Feel?</h4>
			<div class="radio">
				<label><input type="radio" name="moji" value="wowed">😲</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="wondering">🤔</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="warm">🤗</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="lovey">😍</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="devily">😈</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="moji" value="sad">😢</label>
			</div>
		</div>
	</form>
	<button class="btn" ng-click="getRecs()">View Recs</button>
</div>