<br>
<br>
<div class="container">
	<div class="watchlist">
		<h4>Watchlist</h4>
		<div class="row">
	     	<div class="col-xs-3" ng-repeat="movie in movies | filter: {noShow: false, watched: false}">
	     		<div class="thumbnail" id="{{movie.fb}}">
		     		<a href="" ng-controller="MoodCtrl" ng-click="more(movie.fb)"><img src="{{movie.poster_path}}"></a>
		     		<div class="caption">
		     			<a href="" ng-controller="MoodCtrl" ng-click="more(movie.fb)"><h4 class="movieTitle">{{movie.title}}</h4></a>
		     			<a  href="https://www.netflix.com/search?q={{movie.title}}" target="_blank"><button type="button" class="btn btn-primary">Watch Now</button></a>
		     			<button type="button" class="btn btn-default" ng-click="addToWatchlist($event)">Save</button>
		     			<br>
		     			<br>
		     			<label><input type="checkbox" class="watched" ng-model="movie.watched" ng-change="watchedIt(isWatched)"> Watched</label>
		     			<br>
		     			<label><input type="checkbox" class="watched" ng-model="movie.noShow" ng-change="show(noShow)"> Hide</label>
		     			<br>
		     			<p class="movieDescription hidden">{{movie.overview}}</p>
		     		</div>
		     	</div>
	     	</div>
	    </div>
	</div>
	<hr>
	<div class="watched">
		<h4>Watched</h4>
		<div class="row">
	     	<div class="col-xs-3" ng-repeat="movie in movies | filter: {noShow: false, watched: true}">
	     		<div class="thumbnail" id="{{movie.fb}}">
		     		<a href="" ng-controller="MoodCtrl" ng-click="more(movie.fb)"><img src="{{movie.poster_path}}"></a>
		     		<div class="caption">
		     			<a href="" ng-controller="MoodCtrl" ng-click="more(movie.fb)"><h4 class="movieTitle">{{movie.title}}</h4></a>
		     			<a  href="https://www.netflix.com/search?q={{movie.title}}" target="_blank"><button type="button" class="btn btn-primary">Watch Now</button></a>
		     			<button type="button" class="btn btn-default" ng-click="addToWatchlist($event)">Save</button>
		     			<br>
		     			<br>
		     			<label><input type="checkbox" class="watched" ng-model="movie.watched" ng-change="watchedIt(isWatched)"> Watched</label>
		     			<br>
		     			<label><input type="checkbox" class="watched" ng-model="movie.noShow" ng-change="show(noShow)"> Hide</label>
		     			<br>
		     			<p class="movieDescription hidden">{{movie.overview}}</p>
		     		</div>
		     	</div>
	     	</div>
	    </div>
	</div>
</div>